.Payment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
    width:200px;
    height: 30px;
    padding-top: 3px;
    color:aliceblue;
    border-radius: 8px;
    gap: 2%;

}

textarea{
    display: flex;
    width: 200px;
    height: 100px;
}

.boton{
    gap:10%;

}
